<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YouTube Audio Downloader</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <div class="center">
        <h1>Descargar Musica De Youtube</h1>
        <form method="post" class="form" id="form">
          <label for="url">YouTube URL:</label>
          <input type="text" id="url" name="url" required autocomplete="off">
          <label for="name">Nombre de la Cancion:</label>
          <input type="text" id="name" name="name" required autocomplete="off">
          <button type="submit" id="button">Download</button>
        </form>
    </div>
</body>
</html>
